<!DOCTYPE html>
<html>
<head>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="/javascript/startseite.js"></script>
<link rel="stylesheet" type="text/css" href="/css/startseite.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
</head>
<body>
	<div id="main">
	<a href="#" class="btn btn-info btn-lg" style="margin-top: 0; margin-right: 0;"> <span class="glyphicon glyphicon-log-out"></span> Log out
			</a>
		<div id="mySidenav" class="sidenav">
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<a href="#">Unsere Projekte</a> <a href="#">Über uns</a>
			<!-- <a href="#">Clients</a> -->
			<a href="#">Kontakt</a>
		</div>
		<div class="jumbotron text-center">
			<h1>
				<!-- <span style="font-size: 30px; cursor: pointer">&#9776;</span>  -->
				<a href="#"><span id="name" onclick="openNav()"></span></a>
			</h1>
			<p>
				<span id="beschreibung" style="width: 80%;"></span>
			</p>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="card" style="width: 100%">
						<img class="card-img-top" src="/bilder/img_avatar.png"
							alt="Card image" style="width: 100%">
						<div class="card-body">
							<h4 class="card-title">Wasser für Alle</h4>
							<p class="card-text">Beschreibung des Projektes...</p>
							<a href="#" class="btn btn-primary">Details</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card" style="width: 100%">
						<div class="card-body">
							<h4 class="card-title">Brasilien Hilfe</h4>
							<p class="card-text">Beschreibung des Projektes...</p>
							<a href="#" class="btn btn-primary">Details</a>
						</div>
						<img class="card-img-bottom" src="/bilder/avatar-7.png"
							alt="Card image" style="width: 100%; margin-top: 3%;">
					</div>
				</div>
				<div class="col-sm-4">
					<h3>Column 3</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
					<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco
						laboris...</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>